<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>APIKiller</title>
    <style>
      .ap-ob-break {
        overflow-wrap: break-word;
      }

      #app {
        position: relative;
        width: 100vw;
        padding-top: 50px;
      }

      #app > :first-child {
        position: fixed;
        border-radius: 0;
        left: 0;
        top: 0;
        right: 0;
        background-color: #a0cfff;
        z-index: 999999;
      }

      td {
        overflow-wrap: break-word;
      }

      th {
        color: #909399 !important;
      }

      th,
      td {
        border: 1px solid #ebeef5 !important;
      }
    </style>
  </head>
  <script
    type="text/javascript"
    src="http://code.jquery.com/jquery-2.1.4.min.js"
  ></script>
  <script
    type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"
  ></script>
  <link
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    rel="stylesheet"
  />
  <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- checkState开关样式 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/js/bootstrap-switch.min.js"></script>
  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/css/bootstrap3/bootstrap-switch.min.css"
    rel="stylesheet"
  />
  <body>
    <div id="app">
      <div class="panel panel-primary">
        <div class="panel-heading" style="border-radius: 0">
          <h1 class="panel-title">APIKiller Panel</h1>
        </div>
      </div>

      <table
        class="table table-bordered table-hover table-striped"
        id="data-table"
      >
        <thead>
          <tr>
            <th v-for="config in fromlistConfigs">{{ config.name }}</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, index) in items" :key="item.Id + index">
            <td v-for="config in fromlistConfigs" :key="config.name">
              <template v-if="config.type === 'text'">
                {{ item[config.name] }}
              </template>
              <template v-if="config.type === 'checkbox'">
                <input
                  class="form-check-input"
                  type="checkbox"
                  v-model="item[config.name]"
                  @click="()=>false"
                />
              </template>
              <template v-if="config.type === 'switch'">
                <input
                  class="checkbox"
                  type="checkbox"
                  v-model="item[config.name]"
                />
              </template>
              <template v-if="config.type === 'collapse'">
                <div class="panel-group" id="accordion">
                  <div class="panel panel-info" style="width: 200px">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a
                          data-toggle="collapse"
                          data-parent="#accordion"
                          :href="`#item${ config.name }${ item.Id }${ index }`"
                        >
                          {{ config.name }}
                        </a>
                      </h4>
                    </div>
                    <div
                      :id="`item${ config.name }${ item.Id }${ index }`"
                      class="panel-collapse collapse"
                    >
                      <div class="panel-body ap-ob-break">
                        {{ item[config.name] }}
                      </div>
                    </div>
                  </div>
                </div>
              </template>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <script>
      var host = 'http://127.0.0.1' //主站域名

      var vm = new Vue({
        el: '#app',
        data: {
          items: [{}],
          fromlistConfigs: [
            {
              type: 'text',
              name: 'Id',
            },
            {
              type: 'text',
              name: 'Domain',
            },
            {
              type: 'text',
              name: 'Url',
            },
            {
              type: 'text',
              name: 'Method',
            },
            {
              type: 'checkbox',
              name: 'Https',
            },
            {
              type: 'collapse',
              name: 'SourceRequest',
            },
            {
              type: 'collapse',
              name: 'SourceResponse',
            },
            {
              type: 'text',
              name: 'VulnType',
            },
            {
              type: 'collapse',
              name: 'VulnRequest',
            },
            {
              type: 'collapse',
              name: 'VulnResponse',
            },
            {
              type: 'switch',
              name: 'CheckState',
            },
          ],
        },
        created() {
          //当vm实例的data和methods 初始化完毕后，vm实例会自动执行这个方法
          this.getAllList()
        },
        methods: {
          updateCheckState() {
            function updateCheckState(Id, state) {
              //默认只能将未打标更新为打标
              let url = host + '/check'
              fetch(url, {
                method: 'post',
                headers: {
                  'Content-Type':
                    'application/x-www-form-urlencoded; charset=UTF-8',
                },
                data: 'Id=' + Id,
              }).then(res => {
                console.log(res)
              })
            }
          },
          getCheckComponentRefresh() {
            // 优化开关
            $('.checkbox').bootstrapSwitch({
              onText: 'checked', // 设置ON文本
              offText: 'unchecked', // 设置OFF文本
              onColor: 'success', // 设置ON文本颜色     (info/success/warning/danger/primary)
              offColor: 'danger', // 设置OFF文本颜色        (info/success/warning/danger/primary)
              size: 'normal', // 设置控件大小,从小到大  (mini/small/normal/large)
              // 当开关状态改变时触发
              onSwitchChange: function (event, state) {
                if (state == true) {
                  var Id = event.target.id // cbxxxxx
                  Id = Id.substring(2) //截取cb
                  this.updateCheckState(Id, state)
                } else {
                  // updateCheckState(item.Id, 0)
                }
              },
            })
          },
          getFormattedTime(timestamp) {
            return new Date(parseInt(timestamp) * 1000)
              .toLocaleString()
              .replace(/年|月/g, '-')
              .replace(/日/g, ' ')
          },
          getAllList() {
            //获取列表的全部信息
            console.log('GetAllList function')

            var url = host + '/list' //本地返回数据, 动态
            fetch(url, {
              method: 'get',
            })
              .then(res => {
                return res.json()
              })
              .then(data => {
                this.items = data
              })
              .catch(() => {
                this.items = new Array(3).fill(0).map(() => ({
                  Id: '12312421e',
                  Domain: '123124sdasd1we',
                  Url: '12312421432we',
                  Method: 'GET',
                  Https: true,
                  SourceRequest: '123',
                  SourceResponse:
                    'd1we123124214321asdasd1we123124214321asdasd1we123124214321asdasd1we123124214321asdasd1we',
                  VulnType: 'we12',
                  VulnRequest:
                    '123124214asd1we123124214321asdasd1we123124214321asdasd1we123124214321asdasd1we123124214321asdasd1we',
                  VulnResponse:
                    '123124214321asaaaaafjaso321asdasd1we123124214321asdasd1we123124214321asdasd1we',
                  ReportTime: Date.now(),
                  CheckState: false,
                }))
              })
              .finally(() => this.getCheckComponentRefresh())
          },
        },
      })
    </script>
  </body>
</html>
